body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(#0b486b, #f1f1f1);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  background: #f1f1f1;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.photo:hover img {
  transform: scale(1.1);
}

footer {
  background: linear-gradient(#f1f1f1, #0b486b);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.button {
  align-content: center;
}
